# --- Start of `First` notebook ---

# VERY_IMP ek bho code yaha nehi chalta , pata nehi iska conda ka kya issue hai , better copy paste in your khud ka alag python file

# What is Data Manipulation and Analysis?

## Data Manipulation
    Definition: Changing, organizing, or preparing data to make it useful and easier to understand.
    Goal: To clean, transform, and structure raw data for better usability.
    Example:
    -> Organizing a Grocery List: Sorting random items into categories like "Fruits" or "Dairy".
    -> Fixing Errors in a Student Record: Correcting missing or wrong grades.

## Data Analysis
    Definition: Extracting patterns, trends, and insights from the data to solve problems or make informed decisions.
    Goal: To answer questions or identify trends using the data.
    Example:
    -> Analyzing Sales Trends: Finding the month with the highest revenue.
    -> Tracking Fitness Progress: Analyzing daily steps and calories for activity patterns and improvements over time.

  # Key Differences Between Data Manipulation and Analysis:

 | Aspect      | Data Manipulation                        | Data Analysis                              |
| ----------- | ---------------------------------------- | ------------------------------------------ |
| **Focus**   | Preparing and cleaning data              | Extracting insights from prepared data     |
| **Goal**    | Organize and structure raw data          | Find patterns, trends, and solve problems  |
| **Example** | Fixing errors in a student's grade sheet | Analyzing which student scored the highest |

### **What is Pandas?**

**Pandas** is a powerful and widely-used **Python library** designed for:

* **Data Manipulation**: Cleaning, transforming, and structuring data.
* **Data Analysis**: Identifying patterns, trends, and extracting insights.

It simplifies working with **structured datasets** such as:

* Tables
* Spreadsheets
* Time-series data

With Pandas, tasks like filtering, grouping, merging, and summarizing data become much easier and more efficient.

### **What Makes Pandas Unique?**

**Key Features:**
a. Works seamlessly with structured data formats like CSV and Excel.

b. Handles missing values easily.

c. Built on NumPy for fast computations.
### **Why Use Pandas?**

**a. Performance:** Handles millions of rows efficiently.

**b. Ease of Use:** Beginner-friendly syntax for cleaning and transforming data.

**c. Integration:** Works with libraries like Matplotlib (for visualizations) and Scikit-learn (for machine learning).

## Real-Life Examples of Pandas in Action
**Finance:**
Analyzing time-series data like stock prices to identify market trends.

**Retail:**
Tracking inventory and finding the most sold products in a store.

**Healthcare:**
Analyzing patient records and outcomes from clinical trials.

**Education:**
Evaluating student performance across subjects to improve teaching strategies.

**Sports:**
Analyzing player statistics to make strategic decisions for upcoming games.

**Transportation:**
Monitoring vehicle GPS data to optimize delivery routes and reduce fuel costs.

## Key Pandas Concepts
**Series:**
A Series is a one-dimensional labeled array that can hold any data type: integers, floats, strings, or even Python objects. Each element in the Series has a unique label called an index.
It is often used to track changes or patterns over time, such as daily temperatures, stock prices, or sales revenue.

**DataFrame:**
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It‚Äôs like a spreadsheet or SQL table.
DataFrames are commonly used to store datasets, such as customer information, product catalogs, or survey results.

**Index:**
An Index is used to label and align data in Series or DataFrames.
It allows for fast lookups, selection, and alignment of data during operations like merging, joining, or slicing.

**DataFrame:**
A DataFrame is a two-dimensional labeled data structure in Pandas, similar to a table in a database, an Excel spreadsheet, or a SQL table.
It consists of rows and columns, where:

a. Rows have indices (labels).

b. Columns have names (labels).

c. Each column can contain data of different types (e.g., integer, float, string).

d. It allows for easy data manipulation, filtering, and analysis using built-in Pandas functions.

### Basically ,*Series* is 1D and *DataFrame* is 2D

# Reading files in pandas
note , create a *".py"* file and perform all

In [2]:
import pandas as pd
# # to read a csv file
# df=pd.read_csv("pract\sales_data_sample.csv",encoding="latin1") #df= var name for DATAFRAME

# # to read excel file
# df = pd.read_excel("pract\SampleSuperstore.xlsx")

# # to read json file
df=pd.read_json(r"C:\Users\wwwsh\OneDrive\Desktop\proj_1\data_sci\pract\sample_Data.json")
print(df)

    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
6    7                             KitchenAid Stand Mixer
7    8                 Dyson V11 Absolute Cordless Vacuum
8    9                         Ninja Foodi Smart XL Grill
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
16  The Keurig K-Elite Coffee Maker features a str...   169.99
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99
18  The Ninja Foodi Digital Air Fry Oven features ...   209.99
19  The Cuisinart ICE-70 Ice Cream Maker features ...   139.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
16   Home & Kitchen  https://www.keurig.com/content/dam/global-ecom...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
18   Home & Kitchen  https://www.ninjakitchen.com/static/img/produc...
19   Home & Kitchen  https://www.cuisinart.com/share/images/product...

## *Encoding* ke hai 2 jaat -> jab file na khule , tab kare prayog
(1) "filepath",encoding="latin1"

(2) "filepath",encoding="utf-8"

# üìÇ Creating and Saving Files using Pandas

In this notebook, we will:

- Create a DataFrame using `pandas`
- Save it into **CSV**, **Excel (XLSX)**, and **JSON** formats
- Learn basic syntax for file-saving options

In [3]:
# üîÉ Step 1: Import required library
import pandas as pd

## üìã Step 2: Create a DataFrame

Let's create a sample dataset of names, ages, and cities.

In [4]:
# Sample data
data = {
    "Name": ['Shaunak', 'Sarthak', 'Ronit'],
    "Age": [10, 20, 30],
    "City": ['Shillong', 'Silchar', 'Hailakandi']
}

# Creating DataFrame
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0  Shaunak   10    Shillong
1  Sarthak   20     Silchar
2    Ronit   30  Hailakandi

## üíæ Step 3: Save the DataFrame to Multiple Formats

We'll save the above DataFrame into:
- **CSV** file using `to_csv()`
- **Excel (XLSX)** file using `to_excel()`
- **JSON** file using `to_json()`

All files will be saved inside the folder `pract/`. Make sure this folder exists or create it using `os.makedirs("pract", exist_ok=True)` before saving.

In [ ]:
#SAFETY, chatgpt karlo to understand better
import os
os.makedirs("saving", exist_ok=True)

# Save as CSV
df.to_csv("saving/pratham.csv", index=False)

# Save as Excel
df.to_excel("saving/pratham.xlsx", index=False)

# Save as JSON
df.to_json("saving/pratham.json", orient='records', lines=False)

print("‚úÖ All files saved successfully!")

# agey kam kam , dusre notebook mey

# --- End of `First` notebook ---

# --- Start of `Second` notebook ---

# üìä Dataset Exploration: Understand, Identify Problems & Plan Next Steps

In this notebook, we'll perform basic data exploration using a JSON dataset. The process includes:

1. ‚úÖ Understanding the dataset  
2. ‚ùó Identifying potential problems  
3. üìå Planning next steps

We'll also explore:
- Viewing rows using `head()` and `tail()`
- Checking data types
- Counting missing values
- Checking memory usage and structure

In [ ]:
# üîÉ Step 1: Importing required library
import pandas as pd

## üìÇ Step 2: Load the Dataset

We are loading a JSON dataset located at `pract/sample_Data.json`.

In [ ]:
# üîç Load JSON file into DataFrame
df = pd.read_json("pract/sample_Data.json")

## ‚úÖ Step 3: Understand the Dataset

We will:
- View top and bottom rows
- Check dimensions
- View column names
- Get info about data types and memory usage

In [ ]:
# üìå Show first 7 rows (initial inspection)
print("üîπ Pehle 7 rows:")
print(df.head(7))  # head(n): Returns first n rows

# üìå Show last 7 rows
print("\nüîπ Last ke 7 rows:")
print(df.tail(7))  # tail(n): Returns last n rows

# üìå Default head() and tail(): first & last 5 rows
print("\nüîπ Starting ke 5 rows (default head):")
print(df.head())

print("\nüîπ Ending ke 5 rows (default tail):")
print(df.tail())

## ‚ùó Step 4: Identify Potential Problems

We will:
- Check number of rows and columns
- Identify column names
- Look at data types
- Find missing (null) values

In [ ]:
# üî¢ Data types, non-null values, memory usage
print("\n‚ÑπÔ∏è DataFrame Info:")
df.info()

# 5 galti sey chut gaya 
## üìà Step 6: Summary Statistics using `describe()`

The `describe()` method gives us basic statistical info for all **numerical columns**, such as:

- `count`: Number of non-null entries  
- `mean`: Average value  
- `std`: Standard deviation (spread) -> jitna kam std utna zyada consistent data  
- `min`, `max`: Minimum and maximum values  
- `25%`, `50%`, `75%`: Percentiles (useful to understand distribution)

# VVIMP
# üß† What do 25%, 50%, and 75% mean?

They are **percentiles** (also called quartiles) that **help describe the spread/distribution of your data**.

---

### üìä Think of your data as a sorted list of numbers.

Suppose you have a sorted list of ages: 
[10, 12, 15, 18, 21, 24, 28, 30, 35, 40]

---

#### üî∏ 25% ‚Üí First Quartile (Q1)

- **Meaning**: 25% of the values are **less than or equal to this value**.
- In our list: 25% point = 3rd value = **15**
- So, 25% of people are aged **15 or younger**

---

#### üî∏ 50% ‚Üí Second Quartile (Median)

- **Meaning**: Half of the values (50%) are **less than or equal to this value**
- This is also known as the **median**
- In our list: Median = average of 5th and 6th values = (21+24)/2 = **22.5**
- So, 50% of people are aged **22.5 or younger**

---

#### üî∏ 75% ‚Üí Third Quartile (Q3)

- **Meaning**: 75% of the values are **less than or equal to this value**
- In our list: 75% point = 8th value = **30**
- So, 75% of people are aged **30 or younger**

---

### üì¶ Visual Representation:
|--------|--------|--------|--------|
 Min     25%      50%      75%     Max
         Q1       Q2       Q3


- This kind of division is also used in **boxplots** üì¶ to visualize spread and detect outliers.

---

### ‚úÖ Why it matters:

These values help you understand:
- If your data is **skewed** (leaning toward high or low values)
- Whether there are **outliers** (values that are way too high or low)
- How **spread out** your data is

# üìä Employee Data Analysis using Pandas

In this notebook, we'll:

- Create a sample dataset of employees
- Display the dataset
- Use `.describe()` to get statistical insights

In [ ]:
# üîÉ Step 1: Import pandas library
import pandas as pd

## üßæ Step 2: Create the Dataset

We are creating a simple dataset with the following columns:
- Name
- Age
- Salary
- Performance Score

In [ ]:
# üß± Creating sample employee data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish','Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

# üìã Creating DataFrame from dictionary
df = pd.DataFrame(data)

## üîç Step 3: View the Created Dataset
We'll print the full DataFrame to inspect our data.

In [ ]:
# Display the full dataset
print("üìå Created Dataset:")
print(df)

## üìà Step 4: Statistical Summary using `.describe()`

This function provides:
- Count, mean, std deviation
- Min, 25%, 50%, 75%, and max values
for all numeric columns.

In [ ]:
# Statistical summary of numeric columns
print("\nüìä Statistical Summary (describe):")
print(df.describe())

# baki kam agle notebook mey

# --- End of `Second` notebook ---

# --- Start of `Third` notebook ---

# üìã Creating and Exploring a Basic DataFrame in Pandas

In this notebook, we will:

1. Create a simple DataFrame using Python dictionaries
2. Understand the shape (rows √ó columns)
3. List all column names
4. Review initial structure and contents

In [ ]:
# üîÉ Step 1: Import pandas
import pandas as pd

## üß± Step 2: Define the dataset

We are creating a dictionary with:
- Name
- Age
- Salary
- Performance Score

We'll convert this into a pandas DataFrame.

In [ ]:
# Sample employee data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]
}

# ‚úÖ Step 3: Create DataFrame from dictionary
df = pd.DataFrame(data)
print("üìÑ Employee Data:")
print(df)

## üìê Step 4: Understand the structure

We will now:
- Print the shape (rows, columns)
- Print column names

In [ ]:
# üßÆ Shape of the DataFrame ‚Äî like numpy array shape
print(f"\nShape: {df.shape}")  
# Output: Shape: (8, 4) ‚Äî 8 rows, 4 columns

# üè∑Ô∏è Column names ‚Äî shows the keys/fields used
print(f"Column Names: {df.columns.tolist()}")

  
## ‚úçÔ∏è Notes:

- `df.shape` ‚ûù Returns a tuple: **(number of rows, number of columns)**  
  (Same concept as NumPy arrays ‚Äî check your earlier NumPy notes!)

- `df.columns` ‚ûù Returns an Index object containing the column names  
  Use `.tolist()` to get them as a regular Python list.

# üéØ Selecting Specific Columns and Filtering Rows in Pandas

In this notebook, we will learn:

- How to select single or multiple columns
- How to filter rows based on conditions
- Boolean indexing techniques
- Combining multiple conditions using `&` and `|`

In [ ]:
# üîÉ Step 1: Import pandas
import pandas as pd

## üìã Step 2: Creating Sample DataFrame

In [ ]:
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish','Raj', 'Simran'],
    "Age" : [28,32,47,57,17,27,77,25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

df = pd.DataFrame(data)

# Display full DataFrame
print(df)

# Display shape
print(f"\nüìê Shape (Rows, Columns): {df.shape}")  # Rows, Columns

# Display column names
print(f"üìù Column Names: {df.columns.tolist()}")  # List of column names

## üîπ Select Specific Columns
We can access specific columns using:

- `df["column_name"]` ‚Üí returns a **Series**
- `df[["col1", "col2"]]` ‚Üí returns a **DataFrame**

In [ ]:
# üßç Accessing a single column as Series
nam = df["Name"]
print("üî∏ Single Column (Series):\n", nam)

# üßë‚Äçü§ù‚Äçüßë Accessing multiple columns as DataFrame
anek = df[["Name", "Age"]]
print("\nüî∏ Multiple Columns (DataFrame):\n", anek)

# üìå General syntax:
# Single column:     df["column_name"]
# Multiple columns:  df[["col1", "col2"]]

## üß™ Filtering Rows using Boolean Conditions

We can filter rows using:

- `df[df["column"] > value]` ‚Üí single condition
- `df[(df["col1"] > val1) & (df["col2"] < val2)]` ‚Üí AND condition
- `df[(df["col1"] > val1) | (df["col2"] < val2)]` ‚Üí OR condition

Make sure to use **parentheses** around each condition!

In [ ]:
# üîé Filtering rows: Single condition
print("\nüîç Rows where Salary > 6000:")
shabji = df[df["Salary"] > 6000]
print(shabji)

# üìå Syntax: df[df["column_name"] > value]

In [ ]:
# üîé Filtering rows: Two conditions using "&""
print("\nüîç Rows where Salary > 6000 AND Age > 27:")
sahab = df[(df["Salary"] > 6000) & (df["Age"] > 27)]
print(sahab)

# üìå Syntax: df[(df["col1"] > val1) & (df["col2"] > val2)]

In [ ]:
# üîé Filtering rows: Multiple conditions using |
print("\nüîç Rows where Salary > 6000 OR Performance Score > 43:")
bare_sahab = df[(df["Salary"] > 6000) | (df["Performance Score"] > 43)]
print(bare_sahab)

# üìå Syntax: df[(df["col1"] > val1) | (df["col2"] > val2)]

## üß† Summary Notes (Cheat Sheet)

- **Select single column (Series)**: `df["column_name"]`
- **Select multiple columns (DataFrame)**: `df[["col1", "col2"]]`
- **Filter rows - one condition**: `df[df["column"] > value]`
- **Filter rows - multiple conditions**:  
  Use `&` for AND, `|` for OR, and wrap each condition in `()`

‚úÖ Always use parentheses when combining conditions!

# --- End of `Third` notebook ---

# --- Start of `Fourth` notebook ---

# ‚ûï Adding New Columns in a DataFrame (Assignment & Insert)

In this notebook, we'll learn how to add new columns to a pandas DataFrame in two ways:

1. Using **assignment (`df["new_col"] = values`)**
2. Using **`df.insert(position_index, "col_name", values inside list "[]")`**

In [2]:
# üîÉ Step 1: Import pandas
import pandas as pd

## üìã Step 2: Create the Initial DataFrame

In [3]:
# Sample employee data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

# Creating the DataFrame
df = pd.DataFrame(data)

## üßæ Step 3: Add New Column using Assignment

We will calculate **10% bonus** on salary and add it as a new column called `"Bonus"`.

üìå Syntax:  
```python
df["new_col_name"] = some_operation_on_existing_col

In [4]:
# Adding Bonus column using assignment
df["Bonus"] = df["Salary"] * (10 / 100)  # 10% of Salary

## üßæ Step 4: Add New Column using `.insert()`

We will add a new `"Emp_ID"` column at the beginning (position 0) using:

üìå Syntax:
```python
df.insert(loc=0, column="Col_Name", value=data_list)

In [5]:
# Adding Emp_ID column at the first position
df.insert(0, "Emp_ID", [10, 20, 30, 40, 50, 60, 70, 80])

## üìä Final DataFrame

In [6]:
# Showing the final DataFrame with all columns
print(df)

   Emp_ID       Name  Age  Salary  Performance Score   Bonus
0      10        Ram   28    5000                 43   500.0
1      20      Shyam   32    6000                 71   600.0
2      30  Ghanshyam   47   45000                 26  4500.0
3      40  Dhanshyam   57    5200                 59   520.0
4      50      Aditi   17    4900                 84   490.0
5      60    Jagdish   27    7000                 38   700.0
6      70        Raj   77    9000                 67   900.0
7      80     Simran   25   17000                 22  1700.0

# üõ†Ô∏è Pandas Operations ‚Äì Update, Increase, Delete

In this notebook, we will learn how to:

- Update specific values in a DataFrame
- Increase numerical column values (like Salary)
- Delete or drop unwanted columns

We'll also include general syntax notes for all these operations.

In [7]:
# Step 1: Import pandas and prepare sample data
import pandas as pd

data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

df = pd.DataFrame(data)
print("üî∞ Original DataFrame:\n")
print(df)

üî∞ Original DataFrame:

        Name  Age  Salary  Performance Score
0        Ram   28    5000                 43
1      Shyam   32    6000                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
4      Aditi   17    4900                 84
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
7     Simran   25   17000                 22

## ‚úèÔ∏è Updating a Specific Cell using `.loc[]`

We use `.loc[row_index, 'column_name'] = new_value` to update a specific value.

Let's update **Shyam's salary** from 6000 to 6900.

### üìå Syntax:
```python
df.loc[row_index, 'column_name'] = new_value

In [8]:
# Updating Shyam's salary (2nd row, index 1)
df.loc[1, 'Salary'] = 6900
print("\nüìå Updated Salary of Shyam:\n")
print(df)

üìå Updated Salary of Shyam:

        Name  Age  Salary  Performance Score
0        Ram   28    5000                 43
1      Shyam   32    6900                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
4      Aditi   17    4900                 84
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
7     Simran   25   17000                 22

## üìà Increasing All Salaries by 5%

We can update an entire column using vectorized operations.

### üìå Syntax:
```python
df['Column'] = df['Column'] * multiplier

In [9]:
# Increasing all salaries by 5%
df['Salary'] = df['Salary'] * 1.05
print("\nüí∏ Salary after 5% increment:\n")
print(df)

üí∏ Salary after 5% increment:

        Name  Age   Salary  Performance Score
0        Ram   28   5250.0                 43
1      Shyam   32   7245.0                 71
2  Ghanshyam   47  47250.0                 26
3  Dhanshyam   57   5460.0                 59
4      Aditi   17   5145.0                 84
5    Jagdish   27   7350.0                 38
6        Raj   77   9450.0                 67
7     Simran   25  17850.0                 22

## ‚ùå Deleting/Removing a Column using `.drop()`

To remove unwanted columns, we use the `drop()` method.

### üìå Syntax:
```python
df.drop(columns=['col1', 'col2'], inplace=True)

In [10]:
# Removing the Performance Score column
df.drop(columns=["Performance Score"], inplace=True)
print("\nüóëÔ∏è DataFrame after deleting 'Performance Score':\n")
print(df)

üóëÔ∏è DataFrame after deleting 'Performance Score':

        Name  Age   Salary
0        Ram   28   5250.0
1      Shyam   32   7245.0
2  Ghanshyam   47  47250.0
3  Dhanshyam   57   5460.0
4      Aditi   17   5145.0
5    Jagdish   27   7350.0
6        Raj   77   9450.0
7     Simran   25  17850.0

## üß† Summary of Syntax Used

| Operation             | Syntax Example                                      |
|-----------------------|-----------------------------------------------------|
| Update specific cell  | `df.loc[row, 'col'] = value`                        |
| Increase column values| `df['col'] = df['col'] * multiplier`               |
| Drop columns          | `df.drop(columns=['col1', 'col2'], inplace=True)`  |
| Create DataFrame      | `df = pd.DataFrame(data)`                          |

These are some of the most common and useful DataFrame operations!

# --- End of `Fourth` notebook ---

# --- Start of `Fifth` notebook ---

# üßº Handling Missing Data with Pandas

In this notebook, we'll cover:
- Detecting missing values
- Deleting/removing missing data or unwanted columns
- Filling missing data with static or computed values
- Interpolating missing data using various methods

In [1]:
# üì• Importing pandas
import pandas as pd

## üìä Step 1: Create Sample DataFrame with Missing Values

In [ ]:
data = {
    "Name": ['Ram', None, 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age": [28, None, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, None, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, None, 26, 59, 84, 38, 67, 22]  
}
df = pd.DataFrame(data)
print(df)

        Name   Age   Salary  Performance Score
0        Ram  28.0   5000.0               43.0
1       None   NaN      NaN                NaN
2  Ghanshyam  47.0  45000.0               26.0
3  Dhanshyam  57.0   5200.0               59.0
4      Aditi  17.0   4900.0               84.0
5    Jagdish  27.0   7000.0               38.0
6        Raj  77.0   9000.0               67.0
7     Simran  25.0  17000.0               22.0

## üîç Step 2: Detect Missing Data

- `isnull()` returns a DataFrame of boolean values showing where data is missing.
- `isnull().sum()` shows total number of missing values in each column.

In [ ]:
print("Where is data missing?\n")
print(df.isnull())

print("\nTotal number of missing values per column:\n")
print(df.isnull().sum())

Where is data missing?

    Name    Age  Salary  Performance Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False

Total number of missing values per column:

Name                 1
Age                  1
Salary               1
Performance Score    1
dtype: int64

## üßπ Step 3: Remove Missing Data

We can remove:
- Rows with any missing data using `dropna()`
- Columns with missing data using `dropna(axis=1)`

In [4]:
# Removing rows with any missing values
df_removed = df.copy()
df_removed.dropna(inplace=True)
print("After removing rows with missing values:\n")
print(df_removed)

After removing rows with missing values:

        Name   Age   Salary  Performance Score
0        Ram  28.0   5000.0               43.0
2  Ghanshyam  47.0  45000.0               26.0
3  Dhanshyam  57.0   5200.0               59.0
4      Aditi  17.0   4900.0               84.0
5    Jagdish  27.0   7000.0               38.0
6        Raj  77.0   9000.0               67.0
7     Simran  25.0  17000.0               22.0

## üß™ Step 4: Fill Missing Data (Imputation)

We can use:
- A constant value (e.g., 77)
- A computed value like mean, median, or mode for specific columns

In [6]:
# Filling missing values with appropriate replacements
df_filled = pd.DataFrame(data)  # recreate DataFrame

# Fill entire DataFrame with constant (optional)
# df_filled.fillna(77, inplace=True)

# Fill specific columns with mean values
df_filled['Age'].fillna(df_filled['Age'].mean(), inplace=True)
df_filled['Salary'].fillna(df_filled['Salary'].mean(), inplace=True)

print("After filling missing Age and Salary with their means:\n")
print(df_filled)

After filling missing Age and Salary with their means:

        Name        Age   Salary  Performance Score
0        Ram  28.000000   5000.0               43.0
1       None  39.714286  13300.0                NaN
2  Ghanshyam  47.000000  45000.0               26.0
3  Dhanshyam  57.000000   5200.0               59.0
4      Aditi  17.000000   4900.0               84.0
5    Jagdish  27.000000   7000.0               38.0
6        Raj  77.000000   9000.0               67.0
7     Simran  25.000000  17000.0               22.0

C:\Users\wwwsh\AppData\Local\Temp\ipykernel_20152\1415329042.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Age'].fillna(df_filled['Age'].mean(), inplace=True)
C:\Users\wwwsh\AppData\Local\Temp\ipykernel_20152\1415329042.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Salary'].fillna(df_filled['Salary'].mean(), inplace=True)

# üîÑ Step 5: Interpolation in Pandas

Interpolation is a method of estimating missing values between two known values.

### Types of Interpolation:

1. **Linear**:
   - Fills missing values linearly from nearby values.
   - Good for numeric trends.
   - `method='linear'`

2. **Polynomial**:
   - Fills using polynomial equations of specified order (e.g., quadratic).
   - Can be more accurate but risky if overfitted.
   - `method='polynomial', order=n`

3. **Time**:
   - Interpolates assuming index is datetime.
   - Useful for time series data.
   - `method='time'` (only works with DateTimeIndex)

In [7]:
# Recreate original DataFrame
df_interp = pd.DataFrame(data)

# Interpolate missing values using linear method
df_interp_linear = df_interp.copy()
df_interp_linear.interpolate(method="linear", inplace=True)

print("üîó Linear Interpolation:\n")
print(df_interp_linear)

üîó Linear Interpolation:

        Name   Age   Salary  Performance Score
0        Ram  28.0   5000.0               43.0
1       None  37.5  25000.0               34.5
2  Ghanshyam  47.0  45000.0               26.0
3  Dhanshyam  57.0   5200.0               59.0
4      Aditi  17.0   4900.0               84.0
5    Jagdish  27.0   7000.0               38.0
6        Raj  77.0   9000.0               67.0
7     Simran  25.0  17000.0               22.0

C:\Users\wwwsh\AppData\Local\Temp\ipykernel_20152\2171245244.py:6: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interp_linear.interpolate(method="linear", inplace=True)

In [8]:
# Polynomial interpolation (order=2)
df_interp_poly = pd.DataFrame(data)
df_interp_poly.interpolate(method="polynomial", order=2, inplace=True)

print("üìê Polynomial Interpolation (order=2):\n")
print(df_interp_poly)

C:\Users\wwwsh\AppData\Local\Temp\ipykernel_20152\1796064651.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interp_poly.interpolate(method="polynomial", order=2, inplace=True)

üìê Polynomial Interpolation (order=2):

        Name        Age        Salary  Performance Score
0        Ram  28.000000   5000.000000          43.000000
1       None  33.704057  49565.579422          19.593742
2  Ghanshyam  47.000000  45000.000000          26.000000
3  Dhanshyam  57.000000   5200.000000          59.000000
4      Aditi  17.000000   4900.000000          84.000000
5    Jagdish  27.000000   7000.000000          38.000000
6        Raj  77.000000   9000.000000          67.000000
7     Simran  25.000000  17000.000000          22.000000

‚ö†Ô∏è **Note on Time Interpolation**

`method='time'` only works if your DataFrame has a DateTime index or column. It does **not work** on plain integers or floats.

Below is an example showing why it doesn‚Äôt work with just numeric values.

In [ ]:
# Example with numeric column for time
data2 = {
    "time": [1, 2, None, 4, None, 7, None, 10],
    "val": [10, 20, 30, 40, 50, 60, 70, 100]
}
df2 = pd.DataFrame(data2)
print("Original DataFrame with missing time:\n")
print(df2)

print("\nPolynomial Interpolation on 'time':\n")
df2["time"] = df2["time"].interpolate(method="polynomial", order=2)
print(df2)

# Reminder:
# df2["time"] = df2["time"].interpolate(method="time")  # ‚ùå Will not work without datetime

Original DataFrame with missing time:

   time  val
0   1.0   10
1   2.0   20
2   NaN   30
3   4.0   40
4   NaN   50
5   7.0   60
6   NaN   70
7  10.0  100

Polynomial Interpolation on 'time':

        time  val
0   1.000000   10
1   2.000000   20
2   2.929293   30
3   4.000000   40
4   5.424242   50
5   7.000000   60
6   8.525253   70
7  10.000000  100

# --- End of `Fifth` notebook ---

# --- Start of `Sixth` notebook ---

# üìä Sorting, Aggregation & Grouping in Pandas

This notebook demonstrates:
- Sorting by one or more columns
- Aggregation functions (mean, sum, min, max, etc.)
- Grouping data with aggregation

We'll use pandas to handle tabular data efficiently.

In [2]:
# üîÉ Importing pandas
import pandas as pd

## üìã Sample DataFrame

This is the sample data we'll use for all our operations.

In [3]:
# Creating sample data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age": [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]
}
df = pd.DataFrame(data)
print(df)

        Name  Age  Salary  Performance Score
0        Ram   28    5000                 43
1      Shyam   32    6000                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
4      Aditi   17    4900                 84
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
7     Simran   25   17000                 22

## üî¢ Sorting - Single Column

Use `df.sort_values(by="column_name", ascending=True/False, inplace=True)`

- `ascending=True` ‚Üí Ascending order
- `ascending=False` ‚Üí Descending order

In [4]:
# Sort by Name (ascending)
df.sort_values(by="Name", ascending=True, inplace=True)
print("üìå After Sorting by Name (ascending):")
print(df)

üìå After Sorting by Name (ascending):
        Name  Age  Salary  Performance Score
4      Aditi   17    4900                 84
3  Dhanshyam   57    5200                 59
2  Ghanshyam   47   45000                 26
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
0        Ram   28    5000                 43
1      Shyam   32    6000                 71
7     Simran   25   17000                 22

## üî¢ Sorting - Multiple Columns

Syntax:
```python
df.sort_values(by=["col1", "col2"], ascending=[True, False], inplace=True)

In [6]:
# Recreating DataFrame for fresh sort
df = pd.DataFrame(data)

# Sort by Age first, then Salary
df.sort_values(by=["Age", "Salary"], ascending=[True, True], inplace=True)
print("üìå After Sorting by Age and Salary:")
print(df)

üìå After Sorting by Age and Salary:
        Name  Age  Salary  Performance Score
4      Aditi   17    4900                 84
7     Simran   25   17000                 22
5    Jagdish   27    7000                 38
0        Ram   28    5000                 43
1      Shyam   32    6000                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
6        Raj   77    9000                 67

## üìà Aggregation Functions

We can use the following functions on a column:
- `df["Column"].mean()` ‚Üí Average
- `df["Column"].sum()` ‚Üí Total
- `df["Column"].min()` ‚Üí Minimum
- `df["Column"].max()` ‚Üí Maximum
- `df["Column"].std()` ‚Üí Standard Deviation
- `df["Column"].count()` ‚Üí Count of non-null values

In [ ]:
# Aggregation Examples on Age column
print("üìä Aggregation on Age column:")
print("Mean:", df["Age"].mean())
print("Sum:", df["Age"].sum())
print("Min:", df["Age"].min())
print("Max:", df["Age"].max())
print("Std Dev:", df["Age"].std())
print("Count:", df["Age"].count())

üìä Aggregation on Age column:
Mean: 38.75
Sum: 310
Min: 17
Max: 77
Std Dev: 20.090865017287264
Count: 8

## üë• Grouping and Aggregation

### ‚û§ Group by Single Column
Syntax:
```python
df.groupby("column")["target_column"].aggregation_function()

In [8]:
# Group by Age and calculate total Salary
group1 = df.groupby("Age")["Salary"].sum()
print("üìå Grouped by Age (Total Salary):")
print(group1)

üìå Grouped by Age (Total Salary):
Age
17     4900
25    17000
27     7000
28     5000
32     6000
47    45000
57     5200
77     9000
Name: Salary, dtype: int64

# --- End of `Sixth` notebook ---

# --- Start of `Seventh` notebook ---

# üîó Merging, Joining, Concatenation and Cross Join in Pandas

In this notebook, we'll cover:

- Merge and join using different `how` methods
- Cross join
- Concatenation (vertical and horizontal stacking)

In [1]:
import pandas as pd

## üîÑ Merge and Join in Pandas

We can merge DataFrames based on a common key using:

```python
pd.merge(df1, df2, on='common_col', how='type')
on: column name used as key (common in both)

how: type of join: inner, outer, left, right

In [2]:
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Ram', 'Shyam', 'Geeta', 'Sita', 'Ravi', 'Neha', 'Amit']
})

df2 = pd.DataFrame({
    'id': [1, 2, 3, 4, 6, 7],  # "id" 5 is missing here
    'amount': [250, 400, 150, 600, 500, 450]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   id   name
0   1    Ram
1   2  Shyam
2   3  Geeta
3   4   Sita
4   5   Ravi
5   6   Neha
6   7   Amit

DataFrame 2:
   id  amount
0   1     250
1   2     400
2   3     150
3   4     600
4   6     500
5   7     450

## üîÅ Inner Join

Only keeps rows where the `id` is present in **both** `df1` and `df2`.

In [3]:
inner_join = pd.merge(df1, df2, on="id", how="inner")
print("üîó Inner Join:")
print(inner_join)

üîó Inner Join:
   id   name  amount
0   1    Ram     250
1   2  Shyam     400
2   3  Geeta     150
3   4   Sita     600
4   6   Neha     500
5   7   Amit     450

## üåê Outer Join
Keeps **all rows** from both DataFrames. Fills with `NaN` where data is missing.

In [4]:
outer_join = pd.merge(df1, df2, on="id", how="outer")
print("üåê Outer Join:")
print(outer_join)

üåê Outer Join:
   id   name  amount
0   1    Ram   250.0
1   2  Shyam   400.0
2   3  Geeta   150.0
3   4   Sita   600.0
4   5   Ravi     NaN
5   6   Neha   500.0
6   7   Amit   450.0

## ‚¨ÖÔ∏è Left Join

Keeps **all rows from df1**, and matches from df2 where possible.

In [5]:
left_join = pd.merge(df1, df2, on="id", how="left")
print("‚¨ÖÔ∏è Left Join:")
print(left_join)

‚¨ÖÔ∏è Left Join:
   id   name  amount
0   1    Ram   250.0
1   2  Shyam   400.0
2   3  Geeta   150.0
3   4   Sita   600.0
4   5   Ravi     NaN
5   6   Neha   500.0
6   7   Amit   450.0

## ‚û°Ô∏è Right Join

Keeps **all rows from df2**, and matches from df1 where possible.

In [6]:
right_join = pd.merge(df1, df2, on="id", how="right")
print("‚û°Ô∏è Right Join:")
print(right_join)

‚û°Ô∏è Right Join:
   id   name  amount
0   1    Ram     250
1   2  Shyam     400
2   3  Geeta     150
3   4   Sita     600
4   6   Neha     500
5   7   Amit     450

## üîÄ Cross Join

Combines every row of `df1` with every row of `df2`.

üß† Cartesian Product: if df1 has `m` rows and df2 has `n` rows, result = `m * n` rows.

In [7]:
# Enabling cross join by adding dummy key to both
df1_cross = df1.copy()
df2_cross = df2.copy()
df1_cross['key'] = 1
df2_cross['key'] = 1

cross_join = pd.merge(df1_cross, df2_cross, on='key').drop('key', axis=1)
print("üîÄ Cross Join (Cartesian Product):")
print(cross_join)

üîÄ Cross Join (Cartesian Product):
    id_x   name  id_y  amount
0      1    Ram     1     250
1      1    Ram     2     400
2      1    Ram     3     150
3      1    Ram     4     600
4      1    Ram     6     500
5      1    Ram     7     450
6      2  Shyam     1     250
7      2  Shyam     2     400
8      2  Shyam     3     150
9      2  Shyam     4     600
10     2  Shyam     6     500
11     2  Shyam     7     450
12     3  Geeta     1     250
13     3  Geeta     2     400
14     3  Geeta     3     150
15     3  Geeta     4     600
16     3  Geeta     6     500
17     3  Geeta     7     450
18     4   Sita     1     250
19     4   Sita     2     400
20     4   Sita     3     150
21     4   Sita     4     600
22     4   Sita     6     500
23     4   Sita     7     450
24     5   Ravi     1     250
25     5   Ravi     2     400
26     5   Ravi     3     150
27     5   Ravi     4     600
28     5   Ravi     6     500
29     5   Ravi     7     450
30     6   Neha     1     250
31     6   Neha     2     400
32     6   Neha     3     150
33     6   Neha     4     600
34     6   Neha     6     500
35     6   Neha     7     450
36     7   Amit     1     250
37     7   Amit     2     400
38     7   Amit     3     150
39     7   Amit     4     600
40     7   Amit     6     500
41     7   Amit     7     450

# üìö Concatenation

We can concatenate DataFrames:
- **Vertically (row-wise)** using `axis=0`
- **Horizontally (column-wise)** using `axis=1`

In [8]:
df1 = pd.DataFrame({
    "id": [1, 2],
    "nam": ["Raju", "Rajiv"]
})

df2 = pd.DataFrame({
    "id": [3, 4],
    "nam": ["Isha", "Ishan"]
})

# üß± Vertical Concatenation
vertical_concat = pd.concat([df1, df2], axis=0, ignore_index=True)
print("‚¨áÔ∏è Vertical Concatenation:")
print(vertical_concat)

‚¨áÔ∏è Vertical Concatenation:
   id    nam
0   1   Raju
1   2  Rajiv
2   3   Isha
3   4  Ishan

In [9]:
# üß± Horizontal Concatenation
horizontal_concat = pd.concat([df1, df2], axis=1)
print("‚û°Ô∏è Horizontal Concatenation:")
print(horizontal_concat)

‚û°Ô∏è Horizontal Concatenation:
   id    nam  id    nam
0   1   Raju   3   Isha
1   2  Rajiv   4  Ishan

# --- End of `Seventh` notebook ---