# ‚ûï Adding New Columns in a DataFrame (Assignment & Insert)

In this notebook, we'll learn how to add new columns to a pandas DataFrame in two ways:

1. Using **assignment (`df["new_col"] = values`)**
2. Using **`df.insert(position_index, "col_name", values inside list "[]")`**

In [2]:
# üîÉ Step 1: Import pandas
import pandas as pd

## üìã Step 2: Create the Initial DataFrame

In [3]:
# Sample employee data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

# Creating the DataFrame
df = pd.DataFrame(data)

## üßæ Step 3: Add New Column using Assignment

We will calculate **10% bonus** on salary and add it as a new column called `"Bonus"`.

üìå Syntax:  
```python
df["new_col_name"] = some_operation_on_existing_col

In [4]:
# Adding Bonus column using assignment
df["Bonus"] = df["Salary"] * (10 / 100)  # 10% of Salary

## üßæ Step 4: Add New Column using `.insert()`

We will add a new `"Emp_ID"` column at the beginning (position 0) using:

üìå Syntax:
```python
df.insert(loc=0, column="Col_Name", value=data_list)

In [5]:
# Adding Emp_ID column at the first position
df.insert(0, "Emp_ID", [10, 20, 30, 40, 50, 60, 70, 80])

## üìä Final DataFrame

In [6]:
# Showing the final DataFrame with all columns
print(df)

   Emp_ID       Name  Age  Salary  Performance Score   Bonus
0      10        Ram   28    5000                 43   500.0
1      20      Shyam   32    6000                 71   600.0
2      30  Ghanshyam   47   45000                 26  4500.0
3      40  Dhanshyam   57    5200                 59   520.0
4      50      Aditi   17    4900                 84   490.0
5      60    Jagdish   27    7000                 38   700.0
6      70        Raj   77    9000                 67   900.0
7      80     Simran   25   17000                 22  1700.0

# üõ†Ô∏è Pandas Operations ‚Äì Update, Increase, Delete

In this notebook, we will learn how to:

- Update specific values in a DataFrame
- Increase numerical column values (like Salary)
- Delete or drop unwanted columns

We'll also include general syntax notes for all these operations.

In [7]:
# Step 1: Import pandas and prepare sample data
import pandas as pd

data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

df = pd.DataFrame(data)
print("üî∞ Original DataFrame:\n")
print(df)

üî∞ Original DataFrame:

        Name  Age  Salary  Performance Score
0        Ram   28    5000                 43
1      Shyam   32    6000                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
4      Aditi   17    4900                 84
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
7     Simran   25   17000                 22

## ‚úèÔ∏è Updating a Specific Cell using `.loc[]`

We use `.loc[row_index, 'column_name'] = new_value` to update a specific value.

Let's update **Shyam's salary** from 6000 to 6900.

### üìå Syntax:
```python
df.loc[row_index, 'column_name'] = new_value

In [8]:
# Updating Shyam's salary (2nd row, index 1)
df.loc[1, 'Salary'] = 6900
print("\nüìå Updated Salary of Shyam:\n")
print(df)

üìå Updated Salary of Shyam:

        Name  Age  Salary  Performance Score
0        Ram   28    5000                 43
1      Shyam   32    6900                 71
2  Ghanshyam   47   45000                 26
3  Dhanshyam   57    5200                 59
4      Aditi   17    4900                 84
5    Jagdish   27    7000                 38
6        Raj   77    9000                 67
7     Simran   25   17000                 22

## üìà Increasing All Salaries by 5%

We can update an entire column using vectorized operations.

### üìå Syntax:
```python
df['Column'] = df['Column'] * multiplier

In [9]:
# Increasing all salaries by 5%
df['Salary'] = df['Salary'] * 1.05
print("\nüí∏ Salary after 5% increment:\n")
print(df)

üí∏ Salary after 5% increment:

        Name  Age   Salary  Performance Score
0        Ram   28   5250.0                 43
1      Shyam   32   7245.0                 71
2  Ghanshyam   47  47250.0                 26
3  Dhanshyam   57   5460.0                 59
4      Aditi   17   5145.0                 84
5    Jagdish   27   7350.0                 38
6        Raj   77   9450.0                 67
7     Simran   25  17850.0                 22

## ‚ùå Deleting/Removing a Column using `.drop()`

To remove unwanted columns, we use the `drop()` method.

### üìå Syntax:
```python
df.drop(columns=['col1', 'col2'], inplace=True)

In [10]:
# Removing the Performance Score column
df.drop(columns=["Performance Score"], inplace=True)
print("\nüóëÔ∏è DataFrame after deleting 'Performance Score':\n")
print(df)

üóëÔ∏è DataFrame after deleting 'Performance Score':

        Name  Age   Salary
0        Ram   28   5250.0
1      Shyam   32   7245.0
2  Ghanshyam   47  47250.0
3  Dhanshyam   57   5460.0
4      Aditi   17   5145.0
5    Jagdish   27   7350.0
6        Raj   77   9450.0
7     Simran   25  17850.0

## üß† Summary of Syntax Used

| Operation             | Syntax Example                                      |
|-----------------------|-----------------------------------------------------|
| Update specific cell  | `df.loc[row, 'col'] = value`                        |
| Increase column values| `df['col'] = df['col'] * multiplier`               |
| Drop columns          | `df.drop(columns=['col1', 'col2'], inplace=True)`  |
| Create DataFrame      | `df = pd.DataFrame(data)`                          |

These are some of the most common and useful DataFrame operations!