# üîó Merging, Joining, Concatenation and Cross Join in Pandas

In this notebook, we'll cover:

- Merge and join using different `how` methods
- Cross join
- Concatenation (vertical and horizontal stacking)

In [1]:
import pandas as pd

## üîÑ Merge and Join in Pandas

We can merge DataFrames based on a common key using:

```python
pd.merge(df1, df2, on='common_col', how='type')
on: column name used as key (common in both)

how: type of join: inner, outer, left, right

In [2]:
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Ram', 'Shyam', 'Geeta', 'Sita', 'Ravi', 'Neha', 'Amit']
})

df2 = pd.DataFrame({
    'id': [1, 2, 3, 4, 6, 7],  # "id" 5 is missing here
    'amount': [250, 400, 150, 600, 500, 450]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   id   name
0   1    Ram
1   2  Shyam
2   3  Geeta
3   4   Sita
4   5   Ravi
5   6   Neha
6   7   Amit

DataFrame 2:
   id  amount
0   1     250
1   2     400
2   3     150
3   4     600
4   6     500
5   7     450

## üîÅ Inner Join

Only keeps rows where the `id` is present in **both** `df1` and `df2`.

In [3]:
inner_join = pd.merge(df1, df2, on="id", how="inner")
print("üîó Inner Join:")
print(inner_join)

üîó Inner Join:
   id   name  amount
0   1    Ram     250
1   2  Shyam     400
2   3  Geeta     150
3   4   Sita     600
4   6   Neha     500
5   7   Amit     450

## üåê Outer Join
Keeps **all rows** from both DataFrames. Fills with `NaN` where data is missing.

In [4]:
outer_join = pd.merge(df1, df2, on="id", how="outer")
print("üåê Outer Join:")
print(outer_join)

üåê Outer Join:
   id   name  amount
0   1    Ram   250.0
1   2  Shyam   400.0
2   3  Geeta   150.0
3   4   Sita   600.0
4   5   Ravi     NaN
5   6   Neha   500.0
6   7   Amit   450.0

## ‚¨ÖÔ∏è Left Join

Keeps **all rows from df1**, and matches from df2 where possible.

In [5]:
left_join = pd.merge(df1, df2, on="id", how="left")
print("‚¨ÖÔ∏è Left Join:")
print(left_join)

‚¨ÖÔ∏è Left Join:
   id   name  amount
0   1    Ram   250.0
1   2  Shyam   400.0
2   3  Geeta   150.0
3   4   Sita   600.0
4   5   Ravi     NaN
5   6   Neha   500.0
6   7   Amit   450.0

## ‚û°Ô∏è Right Join

Keeps **all rows from df2**, and matches from df1 where possible.

In [6]:
right_join = pd.merge(df1, df2, on="id", how="right")
print("‚û°Ô∏è Right Join:")
print(right_join)

‚û°Ô∏è Right Join:
   id   name  amount
0   1    Ram     250
1   2  Shyam     400
2   3  Geeta     150
3   4   Sita     600
4   6   Neha     500
5   7   Amit     450

## üîÄ Cross Join

Combines every row of `df1` with every row of `df2`.

üß† Cartesian Product: if df1 has `m` rows and df2 has `n` rows, result = `m * n` rows.

In [7]:
# Enabling cross join by adding dummy key to both
df1_cross = df1.copy()
df2_cross = df2.copy()
df1_cross['key'] = 1
df2_cross['key'] = 1

cross_join = pd.merge(df1_cross, df2_cross, on='key').drop('key', axis=1)
print("üîÄ Cross Join (Cartesian Product):")
print(cross_join)

üîÄ Cross Join (Cartesian Product):
    id_x   name  id_y  amount
0      1    Ram     1     250
1      1    Ram     2     400
2      1    Ram     3     150
3      1    Ram     4     600
4      1    Ram     6     500
5      1    Ram     7     450
6      2  Shyam     1     250
7      2  Shyam     2     400
8      2  Shyam     3     150
9      2  Shyam     4     600
10     2  Shyam     6     500
11     2  Shyam     7     450
12     3  Geeta     1     250
13     3  Geeta     2     400
14     3  Geeta     3     150
15     3  Geeta     4     600
16     3  Geeta     6     500
17     3  Geeta     7     450
18     4   Sita     1     250
19     4   Sita     2     400
20     4   Sita     3     150
21     4   Sita     4     600
22     4   Sita     6     500
23     4   Sita     7     450
24     5   Ravi     1     250
25     5   Ravi     2     400
26     5   Ravi     3     150
27     5   Ravi     4     600
28     5   Ravi     6     500
29     5   Ravi     7     450
30     6   Neha     1     250
31     6   Neha     2     400
32     6   Neha     3     150
33     6   Neha     4     600
34     6   Neha     6     500
35     6   Neha     7     450
36     7   Amit     1     250
37     7   Amit     2     400
38     7   Amit     3     150
39     7   Amit     4     600
40     7   Amit     6     500
41     7   Amit     7     450

# üìö Concatenation

We can concatenate DataFrames:
- **Vertically (row-wise)** using `axis=0`
- **Horizontally (column-wise)** using `axis=1`

In [8]:
df1 = pd.DataFrame({
    "id": [1, 2],
    "nam": ["Raju", "Rajiv"]
})

df2 = pd.DataFrame({
    "id": [3, 4],
    "nam": ["Isha", "Ishan"]
})

# üß± Vertical Concatenation
vertical_concat = pd.concat([df1, df2], axis=0, ignore_index=True)
print("‚¨áÔ∏è Vertical Concatenation:")
print(vertical_concat)

‚¨áÔ∏è Vertical Concatenation:
   id    nam
0   1   Raju
1   2  Rajiv
2   3   Isha
3   4  Ishan

In [9]:
# üß± Horizontal Concatenation
horizontal_concat = pd.concat([df1, df2], axis=1)
print("‚û°Ô∏è Horizontal Concatenation:")
print(horizontal_concat)

‚û°Ô∏è Horizontal Concatenation:
   id    nam  id    nam
0   1   Raju   3   Isha
1   2  Rajiv   4  Ishan