# ðŸ“‹ Creating and Exploring a Basic DataFrame in Pandas

In this notebook, we will:

1. Create a simple DataFrame using Python dictionaries
2. Understand the shape (rows Ã— columns)
3. List all column names
4. Review initial structure and contents

In [ ]:
# ðŸ”ƒ Step 1: Import pandas
import pandas as pd

## ðŸ§± Step 2: Define the dataset

We are creating a dictionary with:
- Name
- Age
- Salary
- Performance Score

We'll convert this into a pandas DataFrame.

In [ ]:
# Sample employee data
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age" : [28, 32, 47, 57, 17, 27, 77, 25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]
}

# âœ… Step 3: Create DataFrame from dictionary
df = pd.DataFrame(data)
print("ðŸ“„ Employee Data:")
print(df)

## ðŸ“ Step 4: Understand the structure

We will now:
- Print the shape (rows, columns)
- Print column names

In [ ]:
# ðŸ§® Shape of the DataFrame â€” like numpy array shape
print(f"\nShape: {df.shape}")  
# Output: Shape: (8, 4) â€” 8 rows, 4 columns

# ðŸ·ï¸ Column names â€” shows the keys/fields used
print(f"Column Names: {df.columns.tolist()}")

  
## âœï¸ Notes:

- `df.shape` âž Returns a tuple: **(number of rows, number of columns)**  
  (Same concept as NumPy arrays â€” check your earlier NumPy notes!)

- `df.columns` âž Returns an Index object containing the column names  
  Use `.tolist()` to get them as a regular Python list.

# ðŸŽ¯ Selecting Specific Columns and Filtering Rows in Pandas

In this notebook, we will learn:

- How to select single or multiple columns
- How to filter rows based on conditions
- Boolean indexing techniques
- Combining multiple conditions using `&` and `|`

In [ ]:
# ðŸ”ƒ Step 1: Import pandas
import pandas as pd

## ðŸ“‹ Step 2: Creating Sample DataFrame

In [ ]:
data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish','Raj', 'Simran'],
    "Age" : [28,32,47,57,17,27,77,25],
    "Salary": [5000, 6000, 45000, 5200, 4900, 7000, 9000, 17000],
    "Performance Score": [43, 71, 26, 59, 84, 38, 67, 22]  
}

df = pd.DataFrame(data)

# Display full DataFrame
print(df)

# Display shape
print(f"\nðŸ“ Shape (Rows, Columns): {df.shape}")  # Rows, Columns

# Display column names
print(f"ðŸ“ Column Names: {df.columns.tolist()}")  # List of column names

## ðŸ”¹ Select Specific Columns
We can access specific columns using:

- `df["column_name"]` â†’ returns a **Series**
- `df[["col1", "col2"]]` â†’ returns a **DataFrame**

In [ ]:
# ðŸ§ Accessing a single column as Series
nam = df["Name"]
print("ðŸ”¸ Single Column (Series):\n", nam)

# ðŸ§‘â€ðŸ¤â€ðŸ§‘ Accessing multiple columns as DataFrame
anek = df[["Name", "Age"]]
print("\nðŸ”¸ Multiple Columns (DataFrame):\n", anek)

# ðŸ“Œ General syntax:
# Single column:     df["column_name"]
# Multiple columns:  df[["col1", "col2"]]

## ðŸ§ª Filtering Rows using Boolean Conditions

We can filter rows using:

- `df[df["column"] > value]` â†’ single condition
- `df[(df["col1"] > val1) & (df["col2"] < val2)]` â†’ AND condition
- `df[(df["col1"] > val1) | (df["col2"] < val2)]` â†’ OR condition

Make sure to use **parentheses** around each condition!

In [ ]:
# ðŸ”Ž Filtering rows: Single condition
print("\nðŸ” Rows where Salary > 6000:")
shabji = df[df["Salary"] > 6000]
print(shabji)

# ðŸ“Œ Syntax: df[df["column_name"] > value]

In [ ]:
# ðŸ”Ž Filtering rows: Two conditions using "&""
print("\nðŸ” Rows where Salary > 6000 AND Age > 27:")
sahab = df[(df["Salary"] > 6000) & (df["Age"] > 27)]
print(sahab)

# ðŸ“Œ Syntax: df[(df["col1"] > val1) & (df["col2"] > val2)]

In [ ]:
# ðŸ”Ž Filtering rows: Multiple conditions using |
print("\nðŸ” Rows where Salary > 6000 OR Performance Score > 43:")
bare_sahab = df[(df["Salary"] > 6000) | (df["Performance Score"] > 43)]
print(bare_sahab)

# ðŸ“Œ Syntax: df[(df["col1"] > val1) | (df["col2"] > val2)]

## ðŸ§  Summary Notes (Cheat Sheet)

- **Select single column (Series)**: `df["column_name"]`
- **Select multiple columns (DataFrame)**: `df[["col1", "col2"]]`
- **Filter rows - one condition**: `df[df["column"] > value]`
- **Filter rows - multiple conditions**:  
  Use `&` for AND, `|` for OR, and wrap each condition in `()`

âœ… Always use parentheses when combining conditions!